html,body{
  margin-bottom:50px;
  margin-top:20px;
}
#markup {
  height: 250px;
  overflow-y: auto;
  border: 1px solid black;
  padding:5px;
}
.tag{
  display:inline-block;
}
.space-after{
  margin-right:5px;
}
.green{
  color:green;
}
.blue{
  color:blue;
}
.purple{
  color:purple;
}
.red{
  color:red;
}
.orange{
  color:orange;
}
.black{
  color:black;
}
[v-cloak] {
  display: none;
}